body{
	  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: rgb(60, 60, 60);
  font-family: 宋体;
  background: rgb(250, 250, 250);
  min-width: 1200px;
}
.all-surface{
	width:940px;
	margin:0 auto;
	}
.header-surface{
	padding:20px 0px;
	margin-bottom:10px;
	}
 
.header-surface span{
  font-size: 16px;
  font-weight: bold;
  color: rgb(67, 157, 226);
  }
.main-surface{
	width:940px;
	background-color:#fff;
	border:solid 1px #e1e1e1;
	}

 .main-surface table{
	 width:100%;
	 }
.main-surface .surface-firstSpan{
	  width: 100px;
  border-left: 6px solid #ff8304;
  font-size: 16px;
  margin-left: 10px;
  padding-left: 5px;
  float:left;
  }
 .main-surface .surface-secondSpan{
	 width:120px;
  border-left: 0px solid #ff8304;
  }
.main-surface .surface-firstTd{
	  width: 72%;
	  }
.main-surface table span{
	  margin: 0;
	  padding: 0;
	  height: 24px;
	  width: 134px;
	  line-height: 24px;
	  float: left;
	  text-align: right;
	  display: block;
	  font-size: 14px;
	  padding-right: 16px;
	  }
 .main-surface table em{
	 margin: 0;
  padding: 0;
  float: left;
  font-style: normal;
  line-height: 24px;
  color: rgb(67, 157, 226);
  font-size: 14px;
  }
 .main-surface .surface-odd{
	width:100%;
	background-color:rgb(249, 249, 249);
	height: 45px;
  	line-height: 45px;
	border-top: dotted 1px #dddddd;
	}
 .main-surface .surface-even{
	width:100%;
	background-color:#FFF;
	height: 45px;
  	line-height: 45px;
	border-top: dotted 1px #dddddd;
	}
	
.footer-surface{
  margin-top: 20px;
  float: right;
  padding: 0px 40px;
}